.Hotspot {
  background: #fff;
  border-radius: 4px;
  border: none;
  box-sizing: border-box;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
  color: rgba(0, 0, 0, 0.8);
  display: block;
  font-family: Futura, Helvetica Neue, sans-serif;
  font-size: 13px;
  font-weight: 700;
  /* max-width: 128px; */
  padding: 0.5em 1em;
  bottom: 10px;
  cursor: help;
  cursor: grabbing;
  /* opacity: .9; */
  /* pointer-events: none; */
}

/* .Hotspot:hover{
  opacity: 1;

} */

.label {
  background: #fff;
  border-radius: 4px;
  border: none;
  box-sizing: border-box;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
  color: rgba(0, 0, 0, 0.8);
  display: block;
  font-family: Futura, Helvetica Neue, sans-serif;
  font-size: 18px;
  font-weight: 700;
  max-width: 128px;
  padding: 0.5em 1em;
  bottom: 10px;
  pointer-events: none;
}

#animation-demo::part(default-ar-button) {
  /* bottom: 64px; */
}

/* This keeps child nodes hidden while the element loads */
:not(:defined) > * {
  display: none;
}
.model__div{
  width: 100%;
  padding: 0px 0px;
  /* background-color: red; */
  justify-self: center;
  /* align-items: center; */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* justify-content: center; */
  top: -40px;
}

.model {
  flex:1;
  /* width: 100%; */
  min-width: 480px;
  height: 75vh;
  margin: 0px;
  /* width: 100%; */
  /* padding: 0px; */
  /* top: -40px; */
  /* background-color: gray; */
  /* justify-self: center; */
}

