
.features__img{
    width: 200px;
}

.features__card h3{
    font-size: 18px;

}
.popular__card{
    height: 17rem;
    width:250px; 
}

.popular__title{
    margin-bottom: 11px;
    text-align: center;
}
.popular__subtitle{
    text-align: center;
}

.mini-section{
    padding-top: 5rem;
}

.offer__description{
    line-height: 1.5rem;
    text-align: center;

}
.description__data .offer__description{
    padding-right: 0px;
    max-width: 70%;
}
.description__data{
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}