<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-TTKVMDB91W"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-TTKVMDB91W');
    </script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--  -->
    <link rel="shortcut icon" href="/static/img/profile.png" type="image/x-icon">

    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='img/favicon.ico') }}">
    <meta name="description"
        content="Innovative project using AI and ChatGPT to simulate realistic patient interactions for medical professional training.">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- SEO Meta Tags -->
    <meta name="keywords" content="medicine, AI, virtual ai patient">
    <meta name="author" content="Medtech">
    <meta name="robots" content="index, follow">

    <!-- OpenGraph Meta Tags -->
    <meta property="og:title" content="VAIP - Virtual AI Patient">
    <meta property="og:description"
        content="Innovative project using AI and ChatGPT to simulate realistic patient interactions for medical professional training.">
    <meta property="og:image" content="/static/img/profile.png">
    <meta property="og:url" content="https://vaip.onrender.com">
    <meta property="og:type" content="website">


    <!--  -->

    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
    <script src="{{ url_for('static', filename='js/login.js') }}"></script>
    <title>VAIP - Login</title>
</head>

<body>
    <section>


        <div id="login-box">
            <div class="loader-line-div" id="loader-line-div">
                <div class="loader-line"></div>
            </div>
            <div class="left">
                <a href="/" class="btn-back flex">

                    <span class="material-symbols-outlined disable-selection">
                        navigate_before
                    </span>
                    <p>Back</p>
                </a>
                <h3>VAIP</h3>
                <h1>Login</h1>


                <form method="POST" action="{{ url_for('login') }}" class="form-horizontal signin">
                    <input value="{{form_data['username'] if form_data else ''}}" id="usernameInput" type="text"
                        name="username" placeholder="Username or Email" required autofocus title autocomplete />

                    <div class="password-row">
                        <input value="{{form_data['password'] if form_data else ''}}" type="password" name="password"
                            id="passwordInput" placeholder="Password" required />
                        <button id="showPasswordButton" class="disable-selection">
                            <span id="visibility" class="material-symbols-outlined">
                                visibility
                            </span>
                            <span id="visibility_off" style="display: none;" class="material-symbols-outlined">
                                visibility_off
                            </span>
                            <i class="fa fa-eye-slash"></i>
                        </button>
                    </div>
                    <p class=" forgot-password">
                        <a href="{{ url_for('resetPassword') }}" class="text text-links forgot-password">Forgot
                            password?</a>
                    </p>
                    <p class="text text-error" id="errorMessage">{{error if error else ''}}</p>
                    <label class="checkbox text">
                        <input type="checkbox" value="remember-me" id="rememberMe" name="rememberMe"> Remember me
                    </label>
                    <input type="submit" value="Login" id="submitLoginButton" />
                </form>

                <!-- <form method="POST" action="{{ url_for('login') }}">
                    <div>
                        <input type="hidden" name="guest_login" value="true">
                        <input type="submit" value="Sign in as Guest">
                    </div>
                </form> -->

                <p class="text text-normal">New user? <span><a href="{{ url_for('signup') }}"
                            class="text text-links">Create an account</a></span>
                </p>
            </div>

            <!-- <div class="or">OR</div>

            <div class="right">
                <span class="loginwith">Login with<br />social network</span>

                <button class="social-signin facebook">Login with facebook</button>
                <button class="social-signin twitter">Login with Twitter</button>
                <button class="social-signin google">Login with Google+</button>
            </div> -->


        </div>

        <div class="logo-img">
            <img class="img" src="/static/img/view.png" />
        </div>
    </section>
</body>

</html>